.app{
  background-color: beige;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
}
.app_container{
  display: grid;
  place-items: center;
  width: 50vw;
  border: 1px solid black;
  padding: 20px;
}
.start_btn, .next_btn, .restart_btn{
  font-size: 18px;
  background-color: transparent;
  border: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
}
.start_btn:hover, .next_btn:hover, .restart_btn:hover{
  background-color: white;
  color:black;
}
.quiz_page{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.question{
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.quiz_page > button {
  font-size: 18px;
  border: 1px solid white;
    padding: 20px 0px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    color: lightslategray;
}
.quiz_page > button:hover{
    background-color: beige;

}
.score{
  font-size: 30px;
  color: red;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
.end_page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
